.root {
    -fx-background-color: #2C2C2C;
}


.button {
    -fx-background-color: linear-gradient(to right, #4A235A, #8E44AD);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12px 24px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 3);
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #8E44AD, #4A235A);
}

.button-home {
    -fx-pref-height: 50;
    -fx-pref-width: 300;
}



.label {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
}

.label-title {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
}

.label-highlight {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 30px;

}


.label-header {
    -fx-text-fill: #E0E0E0; /* Helles Grau für besseren Kontrast */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Dezente Transparenz */
    -fx-background-radius: 8px;
}


/* Stil für Buttons */
.button-customer {
    -fx-background-color: #8A2BE2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-padding: 8 15;
    -fx-font-size: 14px;
}


/* Stil für TableView */
.table-view {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #8A2BE2;
    -fx-border-radius: 5;
}

.table-view .column-header {
    -fx-background-color: #8A2BE2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-background-color: #3E3E3E;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #A020F0;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-padding: 5;
}